.content-container {
	background: #fefefe;
}
.content-inner {
	padding: 15px;
	max-width: 750px;
	@media screen and (min-width: $mobileBreak) {
		padding: 25px;
		margin: 0 10%;
	}
	
	ul {
		margin: 0 0 2.5rem;
		li {
			margin: 0 0 1rem;
			padding: 0 0 0 2.5rem;
			position: relative;
			&:before {
				content: '\2022';
				position: absolute;
				left: 1.2rem;
			}
		}
	}
}