.wf-loading {
	.name, .title {
		visibilitiy: hidden;
	}
}

header {
	padding: 1rem 1.5rem;
	min-height: 7rem;
	background: lighten($black, 2%);
	color: #fff;

	@media screen and (min-width: $mobileBreak) {
		padding: 2.5rem 0 0;

		display: flex;
		flex-direction: column;
		
		.name, .title {
			padding: 0 4rem;
		}
	}
	.name, .title {
		@extend .font-header;

		&.name {
			font-size: 2.8rem;
		}
		&.title {
			color: $link;
			text-transform: uppercase;

			@media screen and (min-width: $mobileBreak) {
				margin: 0 0 15px;
			}
		}
	}

	nav {
		display: none;
		@media screen and (min-width: $mobileBreak) {
			display: block;
			flex-grow: 1;
			background: #4e4e4e;
		}
	}
	.menuBar {
		position: fixed;
		top: 18px;
		right: 10px;
		background: lighten($black, 15%);
		border-radius: 50%;
		width: 50px;
		height: 50px;
		display: table-cell;
		padding: 14px 0 0;
		vertical-align: middle;
		transition: all .2s ease-out;
		span {
			display: block;
			width: 60%;
			height: 4px;
			background: #fff;
			margin: 0 auto 5px;
			border-radius: 2px;
		}
		&.is-open {
			transform: rotate(90deg);
		}
		&:hover {
			background: lighten($black, 25%);
			cursor: pointer;
		}

		@media screen and (min-width: $mobileBreak) {
			display: none;
		}
	}
}

// Target both the mobile menu and desktop menu
nav {
	li {
		text-align: center;

		a {
			display: block;
			@extend .font-main;
			text-decoration: none;
			color: #fff;
			font-size: 1.8rem;
			padding: 20px 0;
			transition: all .1s ease-out;
			border-bottom: 1px solid #676767;

			&.on {
				position: relative;
				background: #333;

				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 10px;
					background: $link;
				}
			}
			&:hover {
				background: #333;
				color: #fff;
			}
		}
		&:first-child {
			a {
				border-top: 1px solid #676767;
			}
		}
	}
}