header {
	padding: 1rem 1.5rem;

	nav {
		display: none;
		@media screen and (min-width: 769px) {
			display: block;
		}
	}
	.menuBar {
		position: fixed;
		top: 10px;
		right: 10px;
		background: rgba($black, .7);
		border-radius: 50%;
		width: 50px;
		height: 50px;
		display: table-cell;
		padding: 14px 0 0;
		vertical-align: middle;
		transition: all .2s ease-out;
		span {
			display: block;
			width: 70%;
			height: 4px;
			background: #fff;
			margin: 0 auto 5px;
			border-radius: 2px;
		}
		&.is-open {
			transform: rotate(90deg);
		}
		&:hover {
			background: rgba($black, 1);
			cursor: pointer;
		}

		@media screen and (min-width: 769px) {
			display: none;
		}
	}
}